@font-face {
    font-family: IvySansSemi;
    src: url("../../assets/fonts/IvyStyleSans-SemiBold.ttf");
}

.button {
    font-family: "IvySansSans";
    width: 21rem;
    height: 4.8rem;
    border: none;
    outline: none;
    font-size: 1.6rem;
    line-height: 2.5rem;
    font-style: normal;
    text-align: center;
    cursor: pointer;
    font-family: IvySansSemi;

    &__primary {
        color: white;
        background-color: #eb3737;
    }

    &__secondary {
        color: #eb3737;
        background-color: white;
        border: 2px solid #eb3737;
    }

    &__tertiary {
        color: white;
        border: 2px solid white;
        background-color: transparent;
    }
}