@font-face {
    src: url("../../assets/fonts/Santorini.otf");
    font-family: santorini;
}

.landing-about-us {
    width: 100%;
    height: 52.5rem;
    background-color: #EB3737;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.landing-about-us .right-section {
    width: 70%;
    height: 100%;
    padding: 0rem 10%;
}

.landing-about-us .left-section {
    width: 40%;
    height: 100%;
}

.landing-about-us .left-section img {
    transform: translate(37.5rem, -6rem);
}

.landing-about-us .right-section .text-content .header {
    font-size: 2.5rem;
    color: white;
    font-family: santorini;
    font-style: italic;
    letter-spacing: .2rem;
    margin-top: 4rem;
}

.landing-about-us .right-section .text-content .header img {
    margin-top: 5rem;
    margin-bottom: -2rem;
}

.landing-about-us .right-section .text-content .paragraph {
    font-size: 2rem;
    color: #FFFCFC;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 6rem;
    font-family: haboro;
    line-height: 2.3rem;
}

@media (max-width:1320px) {
    .landing-about-us .right-section {
        width: 70%;
        height: 100%;
        padding: 0rem 10%;
    }
    .landing-about-us .right-section .text-content .paragraph {
        color: #FFFCFC;
        margin-bottom: 3rem;
        font-family: haboro;
    }
    .landing-about-us .left-section img {
        transform: translate(10rem, -5rem);
    }
}

@media (max-width:1100px) {
    .landing-about-us .right-section {
        width: 70%;
        height: 100%;
        padding: 0rem 2%;
        margin-left: 10rem;
    }
    .landing-about-us .right-section .text-content .paragraph {
        line-height: 2rem;
    }
    .landing-about-us .left-section img {
        transform: translate(5rem, -9rem);
    }
    .landing-about-us .right-section .text-content .header img {
        width: 25rem;
    }
}

@media (max-width:900px) {
    .landing-about-us {
        flex-direction: column;
        height: 100rem;
        align-items: center;
        width: 100%;
    }
    .landing-about-us .right-section {
        width: 70%;
        height: 100%;
        padding: 0rem 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .landing-about-us .right-section .text-content .paragraph {
        color: #FFFCFC;
        margin-bottom: 3rem;
        font-family: haboro;
        margin-top: -6rem;
    }
    .landing-about-us .left-section img {
        transform: translate(0%, -7%);
        width: 40rem;
    }
    .landing-about-us .right-section .text-content .header img {
        transform: translate(12rem, -7rem);
        margin-bottom: 0;
    }
    .landing-about-us .right-section {
        width: 80%;
        height: 100%;
    }
}

@media (max-width:820px) {
    .landing-about-us .right-section {
        width: 90%;
        height: 100%;
    }
    .landing-about-us .right-section .text-content .header img {
        transform: translate(17.5rem, -8rem);
    }
    .landing-about-us .right-section .text-content .paragraph {
        margin-top: -7rem;
    }
}

@media (max-width:720px) {
    .landing-about-us .left-section img {
        transform: translate(0%, -7%);
        width: 35rem;
    }
    .landing-about-us .right-section .text-content .header img {
        transform: translate(12rem, -14rem);
    }
    .landing-about-us .right-section .text-content .paragraph {
        margin-top: -15rem;
    }
    .landing-about-us {
        height: 92.5rem;
        width: 100%;
    }
}

@media (max-width:650px) {
    .landing-about-us .right-section {
        width: 90%;
        height: 100%;
    }
    .landing-about-us .right-section .text-content .paragraph {
        font-size: 1.7rem;
        margin-top: -20-rem;
    }
    .landing-about-us .left-section img {
        transform: translate(-4%, -7%);
    }
    .landing-about-us .right-section .text-content .header img {
        transform: translate(10rem, -14rem);
    }
}

@media (max-width:560px) {
    .landing-about-us .right-section .text-content .header img {
        transform: translate(0rem, -14rem);
    }
    .landing-about-us .left-section img {
        transform: translate(-10%, -7%);
    }
    .landing-about-us .right-section {
        width: 100%;
        height: 100%;
        padding: 0rem 15%;
    }
}

@media (max-width:400px) {
    .landing-about-us .left-section img {
        transform: translate(-10%, -7%);
        width: 30rem;
    }
    .landing-about-us .right-section .text-content .header img {
        transform: translate(5rem, -17rem);
    }
}

@media (max-width:320px) {
    .landing-about-us .right-section .text-content .header img {
        transform: translate(5rem, -17rem);
    }
    .landing-about-us .right-section .text-content .paragraph {
        font-size: 1.5rem;
    }
}