@font-face {
    src: url("../../assets/fonts/Santorini.otf");
    font-family: santorini;
}

.landing-about-us {
    width: 100%;
    height: 55rem;
    background-color: #EB3737;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.landing-about-us .right-section {
    width: 70%;
    height: 100%;
    padding: 0rem 10%;
}

.landing-about-us .left-section {
    width: 40%;
    height: 100%;
}

.landing-about-us .left-section img {
    transform: translate(20rem, -6rem);
}

.landing-about-us .right-section .text-content .header {
    font-size: 2.5rem;
    color: white;
    font-family: santorini;
    font-style: italic;
    letter-spacing: .2rem;
    margin-top: 4rem;
}

.landing-about-us .right-section .text-content .header img {
    margin-top: 5rem;
    margin-bottom: -2rem;
}

.landing-about-us .right-section .text-content .paragraph {
    font-size: 2rem;
    color: #FFFCFC;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 6rem;
    font-family: haboro;
    line-height: 2.3rem;
}

@media (max-width:1350px) {

    .landing-about-us .right-section .text-content .paragraph {
        font-size: 1.75rem;
        line-height: 2.3rem;
        margin-bottom: 4rem;
    }

    .landing-about-us .left-section img {
        transform: translate(15rem, -6rem);
    }
}

@media (max-width:1200px) {
    .landing-about-us .right-section .text-content .paragraph {
        font-size: 1.5rem;
        line-height: 2rem;
        margin-bottom: 4rem;
    }

    .landing-about-us .left-section img {
        transform: translate(10rem, -6rem);
    }
}

@media (max-width:1050px) {

    .landing-about-us .left-section img {
        width: 35rem;
        transform: translate(8rem, -4rem);
    }
}

@media (max-width:850px) {

    .landing-about-us .left-section img {
        width: 100%;
    }

    .landing-about-us {
        flex-direction: column;
        height: auto;
        align-items: center;
        justify-content: center;
    }

    .landing-about-us .left-section,
    .landing-about-us .right-section {
        width: 50%;
    }

    .landing-about-us .right-section {
        padding: 0 0;
    }

    .landing-about-us .left-section img,
    .landing-about-us .right-section {
        transform: translate(0, -7rem);
    }
}

@media (max-width:600px) {

    .landing-about-us .left-section,
    .landing-about-us .right-section {
        width: 60%;
    }

    .landing-about-us .right-section .text-content .header {
        width: 32rem;
    }
}

@media (max-width:500px) {

    .landing-about-us .left-section img,
    .landing-about-us .right-section {
        transform: translate(0, -5rem);
    }
}

@media (max-width:400px) {

    .landing-about-us .left-section img,
    .landing-about-us .right-section {
        transform: translate(0, -3rem);
    }

    .landing-about-us {
        padding-bottom: 5rem;
    }

    .landing-about-us .right-section .text-content .header {
        width: 25rem;
    }

    .landing-about-us .right-section .text-content .header img {
        width: 100%;
    }

    .landing-about-us .right-section .text-content .paragraph {
        font-size: 1.5rem;
        line-height: 2rem;
        margin-bottom: 4rem;
    }
}

/* @media (max-width:800px) {
    .landing-about-us .left-section img {
        width: 32.5rem;
        transform: translate(6rem, -4rem);
    }

    .landing-about-us .right-section {
        width: 50%;
    }
} */