.enquiry-header {

    background-color: #F6C6D2;
    width: 100%;
    height: 25rem;
    position: relative;
    display: flex;
    align-items: center;

}

.enquiry-header img {
    position: absolute;
    margin-left: 21.66rem;
}