.enquiry-header {
    background-color: #F6C6D2;
    width: 100%;
    height: 25rem;
    position: relative;
    display: flex;
    align-items: center;
}

.enquiry-header img {
    position: absolute;
    margin-left: 21.66rem;
}

@media (max-width:800px) {
    .enquiry-header img {
        margin-left: 15rem;
    }
}

@media (max-width:725px) {
    .enquiry-header img {
        width: 40rem;
        height: 40rem;
    }
}

@media (max-width:570px) {
    .enquiry-header img {
        margin-left: 10rem;
    }
}

@media (max-width:500px) {
    .enquiry-header img {
        width: 35rem;
        height: 35rem;
    }
}

@media (max-width:400px) {
    .enquiry-header img {
        width: 30rem;
        height: 30rem;
        margin-left: 5rem;
    }
}