@import "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap";

@font-face {
    font-family: "HaboroContrast";
    src: url("../../assets/fonts/haborocontrastnormregular.otf");
}

.footer {
    background-color: #eb3737;
    padding: 4rem 0;
    height: 20rem;
    font-family: "HaboroContrast";
    width: 100%;
    z-index: 100000;
    margin-top: auto;
    scroll-behavior: smooth;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

ul li a {
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    color: white;
    display: block;
    transition: all 0.3s ease;
}

ul li a :hover {
    color: #ffffff;
    padding-left: 8px;
}

ul li :not(:last-child) {
    margin-bottom: 10px;

}

h4 {
    font-size: 1.8rem;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 3.5rem;
    font-weight: 500;
    position: relative;
}

h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    color: #ffffff;
    transition: all 0.5s ease;

}

.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

/*responsivity*/

@media (max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media (max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}