.template {
    position: relative;
    width: 100%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

.mobile-navbar-container {
    visibility: hidden;
}


@media (max-width: 850px) {
    .mobile-navbar-container {
        visibility: visible;
    }
}