  @font-face {
      font-family: haboro;
      src: url("../../assets/fonts/haborocontrastnormregular.otf");
  }

  .landing-offers {
      margin-top: 5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100rem;
  }

  .landing-offer {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 45rem;
      margin-bottom: 10rem;
      /* overflow: hidden; */
  }

  .landing-offer:nth-of-type(odd) {
      flex-direction: row;
  }

  .landing-offer:nth-of-type(even) {
      flex-direction: row-reverse;
  }

  .landing-offer:not(:first-of-type) .right-side img {
      margin-left: 0;
  }

  .landing-offer .left-side {
      width: 45%;
      font-family: haboro;
      margin: 0 1.25%;
  }

  .left-side Button {
      margin-top: 2rem;
      align-self: start;
      margin-left: 3rem;

  }

  .landing-offer .left-side .text {
      font-size: 2.2rem;
      line-height: 2.5rem;
      color: #3E3E3E;
      width: 46rem;
      max-width: 100%;
      margin-top: 2rem;
      margin-bottom: 2rem;
      margin-left: 3rem;
      overflow-wrap: break-word;
  }

  .landing-offer .right-side {
      width: 45%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      position: relative;
      margin: 0 1.25%;
  }

  .landing-offer .title {
      width: 50rem;
      height: 20rem;
  }

  .landing-offer .title img {
      width: 100%;
      height: 100%;
  }

  .landing-offer .right-side img {
      width: auto;
      height: 100%;
      position: relative;
      z-index: 1;
      /* border: 15px solid #F6C6D2; */
      /* border-top-style: none; */
      /* border-left-style: none; */
  }

  .landing-offer:nth-of-type(even) .left-side {
      width: 100%;
      padding-left: 5rem;
  }

  .landing-offer .right-side .side-rectangle {
      position: absolute;
      bottom: -1.5rem;
      right: -1.5rem;
      z-index: -1;
      height: 65%;
  }

  .landing-offer:nth-of-type(even) .right-side .side-rectangle {
      left: -1.5rem;
  }


  @media (max-width: 900px) {
      .landing-offers {
          width: 90rem;
      }

      .landing-offer .title {
          width: 40rem;
          height: 20rem;
      }

      .landing-offer .left-side .text {
          font-size: 2rem;
          width: 46rem;
      }


      .landing-offer .right-side img {
          width: auto;
          height: 100%;
          position: relative;
          z-index: 1;
      }
  }

  @media (max-width: 700px) {

      .landing-offers {
          width: 50rem;
          height: auto;
          align-items: center;
      }

      .landing-offer {
          width: 100%;
          height: auto;
          margin-bottom: 15rem;
          /* overflow: hidden; */
      }

      .landing-offer:nth-of-type(odd),
      .landing-offer:nth-of-type(even) {
          flex-direction: column-reverse;
      }

      .landing-offer .left-side,
      .landing-offer .right-side {
          width: 95%;
          margin: 2rem 0;
      }

      .landing-offer:nth-of-type(even) .right-side .side-rectangle {
          left: 1rem;
      }

      .landing-offer:nth-of-type(even) .left-side {
          width: 40rem;
          padding-left: 0rem;
      }

  }

  @media (max-width: 500px) {

      .landing-offer:nth-of-type(even) .right-side .side-rectangle {
          left: -2rem;
      }

      .landing-offers {
          width: 45rem;
          height: auto;
          align-items: center;
      }

      .landing-offer .right-side img {
          width: 90%;
      }

      .landing-offer:nth-of-type(even) .right-side .side-rectangle {
          left: -3.25rem;
      }

      .landing-offer .right-side .side-rectangle {
          left: -3.25rem;
      }
  }